.page {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.main {
    margin: auto;
    display: flex;
    max-width: 1090px;
    width: 100%;
    min-height: 280px;
    height: 100%;
    gap: 20px;
    justify-content: space-between;
}
